.slickContainer {
  padding: 40px;
  background: #419be0;
}

.slickSlide img {
  margin: auto;
}

.slickSlide {
  height: auto;
}
.slickTrack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}