@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-normal text-darkblue;
  }
  h2 {
    @apply text-2xl font-normal text-darkblue;
  }
  h3 {
    @apply text-xl font-normal text-darkblue;
  }
  body {
    @apply bg-white;
  }
  p {
    @apply text-darkblue;
  }
}

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }

  .input-field {
    @apply appearance-none border rounded w-full py-2 px-3 text-gray-700;
  }

  .input-field:focus {
    @apply outline-none shadow-outline;
  }

  .footer-text {
    @apply text-lightblue text-sm text-opacity-75;
  }

  .footer-link {
    @apply footer-text;
  }

  .footer-link:hover {
    @apply text-happyyellow text-opacity-100 underline;
  }
}

@layer utilities {
  .max-w-xxs {
    max-width: 15rem;
  }

  .min-w-sm {
    min-width: 16rem;
  }

  .h-2px {
    height: 2px;
  }
}

.carousel-slider {
  height: auto;
}

.carousel.carousel-slider:hover .control-arrow:hover {
  background-color: transparent;
}

.carousel .control-dots .dot {
  outline: none;
}

.MuiBadge-anchorOriginTopRightRectangle {
  right: -3px !important;
  top: 11px !important;
  border: 2px solid white;
  padding: 0 4px !important;
  background-color: #f26d6d !important;
}
