@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-normal text-darkblue;
  }
  h2 {
    @apply text-2xl font-normal text-darkblue;
  }
  h3 {
    @apply text-xl font-normal text-darkblue;
  }
  body {
    @apply bg-white;
  }
  p {
    @apply text-darkblue;
  }
}

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }

  .input-field {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }

  .input-field:focus {
    @apply outline-none shadow-outline;
  }
}

@layer utilities {
  .max-w-xxs {
    max-width: 15rem;
  }

  .min-w-sm {
    min-width: 16rem;
  }

  .h-2px {
    height: 2px;
  }
}

.carousel-slider {
  height: 870px;
}

.carousel.carousel-slider:hover .control-arrow:hover {
  background-color: transparent;
}

.carousel .control-dots .dot{
  outline: none;
}